{% extends "layout.html" %}

{% block body %}

<section class="section">
    <div class="container">
        <h1 class="display-4">Emely</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi excepturi minus reiciendis voluptate veniam dignissimos blanditiis natus fugiat, ipsum similique, saepe corporis repellendus maxime nihil odio voluptates alias et consectetur?</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1>{{ question }}</h1>

    </div>
</section>

{% endblock %}