{% extends "layout.html" %}

{% block body %}

<section id="jumbotron">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="jumbotron-content">
            <h1 class="display-4 text-center">Emely</h1>
            <p class="lead text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi excepturi minus reiciendis voluptate veniam dignissimos blanditiis natus fugiat, ipsum similique, saepe corporis repellendus maxime nihil odio voluptates alias et consectetur?</p>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#section-dialogue" class="link-scroll btn btn-success btn-lg">Talk to Emely</a>
            </div>
        </div>
    </div>
</section>

<section id="section-dialogue" class="section">
    <div class="container">
        <h1 class="display-5 text-center mb-4">Talk to Emely</h1>
        <div id="dialogue-content">
            <span class="dialogue-text p p-lg text-center">You are being interviewed by Emely, and she asks you the following:</span>
            <span id="base-question" class="dialogue-text p text-center mb-4">- {{ base_question }}</span>

            {% from "partials/_form-helpers.html" import render_field %}
            <form  method="POST" action="./submit-dialogue/">
                <div class="form-group mb-4">
                    {{ form.user_answer_one.label(class="p p-lg") }}
                    {{ form.user_answer_one(class="form-control") }}
                </div>
                <div class="form-group mb-4">
                    {{ form.user_follow_up_one.label(class="p p-lg") }}
                    {{ form.user_follow_up_one(class="form-control") }}
                </div>
                <div class="form-group mb-4">
                    {{ form.user_answer_two.label(class="p p-lg") }}
                    {{ form.user_answer_two(class="form-control") }}
                </div>
                <div class="form-group mb-4">
                    {{ form.user_follow_up_two.label(class="p p-lg") }}
                    {{ form.user_follow_up_two(class="form-control") }}
                </div>
                <div class="d-flex justify-content-left align-items-center">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}